.cartbody{
    background-color: rgb(215, 210, 210);
}

.cf{
    display: flex;
    height: 1500px;
}

.cf1{
    height: 300px;
    width: 100%;
}

.cf11{
    background-color: rgb(244, 243, 245);
    margin: 10px;
    height: 300px;
    width: 1150px;
}

.cf12{
    background-color: rgb(246, 242, 242);
    margin: 10px;
    height: 50px;
    width: 1150px;
}

.cf2{
    width: 380px;
    height: 15000;
    margin: 10px;
    background-color: rgb(235, 239, 235);
}