.lfull{
    background-color:#232F3E ;
}

.backtotop{
    background-color:#183d49;
    color: white;
    padding: 15px;
    text-align: center;
}

.lfirst{
    background-color: #232F3E;
    color: white;
    display: flex;
}